@import "tailwindcss";

@theme {
    --color-light: #f6f6f6;
    --color-orange: #fb742d;
    --color-grey: #47464d;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #1a1a1a;
    color: #fff;
}

h1 {
    font-size: 2.5em;
}

.hero-text {
    font-size: 1.5em;
    color: #cccccc;
}

.left-nav {
    position: absolute;
    left: 24px;
}

.upper-nav {
    position: relative;
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    background-color: #fb742d;
    width: 0;
    transition: width 0.4s;
}

.nav-link:hover::after {
    width: 100%;
}

.contact-btn {
    position: absolute;
    overflow: hidden;
    right:24px;
    border: #fb742d solid 1px;
    color: #fb742d;
    padding: 6px 16px;
    border-radius: 9999px;
    z-index: 1;
}

.contact-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    background-color: #fb742d;
    transition: width 0.4s;
    z-index: -1;
}

.contact-btn:hover::before {
    width: 100%;
}

.contact-btn:hover {
    z-index: 1;
    color: #1a1a1a;
}

.hero-photo {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.cycle-container {
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    position: relative;
    top: 2px;
}

.cycle-active {
    display: inline-block;
    transform: translateY(0);
    opacity: 1;
    font-size: 1em;
    transition: transform 0.4s, opacity 0.4s;
    border-bottom: 2px solid #fb742d;
    margin-bottom: -10px;
}

.cycle-exit {
    display: inline-block;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s;
}